.signUp {
    background-color: #f3f3f3;
    min-height: 100vh;
    display: flex;

    &-container {
        background-color: #fff;
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 2em 1em;
    }
    &__logo {
        height: 100px;
    }

    &__title {
        margin: 2em 0;
        & h1 {
            display: flex;
            justify-content: center;
        }
        & h6 {
            display: flex;
            justify-content: center;
            color: #8f8f8f;
        }
    }

    &__formGroup {
        margin: 2em 0;
        
        &-label {
            font-weight: 600;
            font-size: 1.25em;
            letter-spacing: 0.5px;
            & strong {
                color: #E04E5C;
            }
        }
    }
}