@import '../../scss/index.scss';

.SecretaryNavbar{
    height: 100%;
    width: 100%;
    background: $primary-color;
    display: flex;
    padding: 0;
    justify-content: start;
    align-items:flex-start;
    margin: 0;

    &__sideBarList{
        height: 180%;
        padding: 0;
        width: 100%;
        margin: 0%;
    }
}

.dataRow{
    width: 100%;
    height: 100%;
    list-style-type: none;

    padding: 10px;
    display: flex;
    flex-direction: row;
    
}



.dataRow a:link{
    text-decoration: none;
}

.dataRow a:hover *{
    color : $primary-color-hover;
}





.titulo{
    color: $light-color;
    font-size: 12px;
}

.texto, .icono  {
    color: $light-color;
    font-size: 12px;

    padding-left: 5px ;
    overflow: hidden;
    white-space: nowrap;
}



.sideBarList #active {
    background: red !important;
}
