
.cell{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .4em;
    p{
        margin: 0;
    }
    border: solid rgb(222, 226, 230) 0.5px;
    box-sizing: border-box;
    cursor: pointer;
}
.disponible{
    background-color: rgb(144, 229, 255);
}
