.box{
    text-align: center;
}

.center{
    justify-content: center;
}

.title{
    margin: 0;
}
.description{
    margin: 0;
    padding: 0 .5em
}
.image{
    width: 70px;
    height: 70px;
    margin: .4em;
}

.statesContainer{
    padding: 1em 0;
}