.boxUpload {
    background-color: #FFF;
    //background-color: #c6c6c6;
    //background-color: #EFEFEF;
    //background-color: #E0E0E0;
    padding: 10px;
    border-radius: 20px;
    //box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}

.headUpload {
    margin-bottom: 30px;
    // text-align: center;
}