@import '../scss/index.scss';

.linkurl{
    color: blue;
    align-items: center;
}

.main-sing {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    .sign-in {
        padding: 1em;
        width: 540px;
    }
    .rows {
        padding: .25em 0;
    }
}