@import '../scss/index.scss';
.estado{
    margin-top: 2em !important;
}

.uploadAgreement{
    align-items: center !important;
    margin-bottom: em !important;
    justify-content: center !important;
}

.boton{
     justify-content: center;

}

.shadowbox{
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    border-radius: 20px;
    padding-bottom: 8px;        
}

