@import '../scss/index.scss';

.rows{
    margin-top: 1em !important;
    // Button {
    //     margin-right: 1em !important;
    //     margin-bottom: 2em !important;
    //     background-color: $primary-color !important;
    // }
}
.coordEspecialidad{
    display: none;
}

.BotonAlumno{
    justify-content: center;
}

.Enviar{
    width: 40%;
}