@import '../../scss/index.scss';

.documentIcon{
    width: fit-content !important;
    margin-top: 8px !important;
    &__doc {
        font-size: 26px;
        margin-right: 8px;
    }
    &__name {
        color: $link-color;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: $info-color;
        }
    }
}