.main{
    margin-top: 0px !important;
}

.chartAboutJob {
    border-style: solid !important;
    border-width: 2px !important;
    padding-bottom: 20px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 20px !important;
    border: #a9a9a9 solid !important;
    border-radius: 6px;
    Button {
        margin-right: 1em !important;
    }
    .Cuadro{
        width: 98% !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

.rows{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.subtitles{
    text-align: left !important;
}

.ini{
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}
.title{
    border-top-width: 10px !important;
    border-right-width: 1em !important;
    border-bottom-width: thick !important;
    border-left-width: thin !important;
}

nav.navbar {
    width: inherit;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-width: thin;
    border-bottom: #a9a9a9 solid !important;
    border-radius: 0px;
  }
