.chartCalificationFormStudent {
    border-style: solid !important;
    border-width: 2px !important;
    padding-bottom: 20px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 40px !important;
    border: #a9a9a9 solid !important;
    border-radius: 6px;
    display: inline-grid;
    Button {
        margin-right: 1em !important;
        margin-top: 20px;
    }
}

.rows{
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
}
.subtitles{
    text-align: left !important;
    padding-left: 0px !important;
}

.texts{
    padding-left: 15px;
}

.observaciones{
    width: 94% !important;
    margin-left: 15px;
}

.botons{
    text-align-last: center;
}
