.center{
    text-align: center;
    overflow: auto;
    flex-wrap: nowrap !important;
}
.hourRangeCell{
    margin: 0;
    padding: .4em;
    border: solid rgb(222, 226, 230) 0.5px;
    box-sizing: border-box;
}
.col{
    padding: 0 !important;
    font-size: 14px;
    height: auto;
}
.headerTime{
    padding: 1em 0;
    border: solid rgb(222, 226, 230) 0.5px;
    box-sizing: border-box;
}
.row { 
    height: auto !important;
}

.indicatorPage{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}