@import "../../App.scss";

.rows{
    margin-top: 2em !important;
}
.supervisors {
    display: flex;
    justify-content: space-evenly ;
    .supervisor {
        width: 150px;
        margin: 0 .5em;
        text-align: center;
        cursor: pointer;
        background-color: #efefef;
        border-radius: 8px;
        font-weight: 500;
        padding: 6px;

        &__selected {
            background-color: $primary-color;
            color: #fff;
            & i {
                color: $primary-color;
            }
        }
        i {
            background-color: #fff;
            display: flex;
            width: fit-content;
            margin-top: 20px !important;
            padding: 0.5em;
            border-radius: 50%;
            font-size: 1.5em;
            margin: auto;
        }
        &:hover {
            box-shadow: #b6b6b6 6px 6px 6px 3px;
        }
    }
}
