.rows{
    margin-top: 2em !important;
}
.supervisors {
    display: flex;
    justify-content: center ;
    .supervisor {
        width: 150px;
        margin: 0 .5em;
        text-align: center;
        box-shadow: #c3c3c3 1px 1px 1px;
        cursor: pointer;

        i {
            background-color: #c3c3c3;
            display: flex;
            width: fit-content;
            margin-top: 20px !important;
            padding: 0.5em;
            border-radius: 50%;
            font-size: 1.5em;
            margin: auto;
        }
        &:hover {
            box-shadow: #b6b6b6 2px 2px 2px;
        }
    }
}
