@import '../scss/index.scss';

.footer {
    background: $primary-color;
    color: white;
    padding: 10px 10px 0px 10px;
    
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Height of the footer*/ 
    height: 160px;
    &__left{
        &contactanos {
            color: white;
            margin-left: 2em;
            background-color: #042354;
            color:"#f8f9fa";
            font-size:20px;
        }

        &contactanosInfo {
            margin-top: 8px;
            color: white;
            margin-left: 2em;
            font-size: 15px;
            background-color:#042354;
            color:#f8f9fa;
            margin-top:5px;
        }
    }

    &__right{
        &ubicanos{
            background-color: #042354;
            color:#f8f9fa;
            font-size:20px;
            
        }
        &ubicanosInfo{
            font-size:15px;
            margin-bottom: 8px;
            
        }
        &redesSociales{
            font-size:15px;
            margin-top: 8px;
            a {
                margin-right: 15px;
            }
        }
    }
}

.footer__leftderechos{
    padding-left: 40px;
    margin-top: 10px;
    text-decoration: underline;
}

.mapIcon{
    font-size: 1em;
    margin-left: 0px;
    margin-right: 5px;
}

.telfIcon{
    font-size: 1em;
    margin-Left: 8px;
    margin-Right: 5px;
}

.mailIcon{
    font-size: 1em;
    margin-Left: 8px;
    margin-Right: 5px;
}