.rowsNoAgreementReview{
    margin-bottom: 22px !important;
    padding-left: 14px !important;
}

.subtitlesDeleteFieldDeleteField{
    padding-left: 0px !important;
}

.rowsNoAgreementReviewRaddio{
    margin-bottom: 20px !important;
    padding-left: 0px !important;
    padding-top: 10px !important;
}

.form-check-inline{
    margin-right: 40px !important;
}