.rows{
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
}

.select{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.Opciones{
    text-align: center !important;
    margin-top: 20px !important;
}