@import '../../scss/index.scss';

.studentNavBar{
    height: 100%;
    width: 100%;
    background: $primary-color;
    display: grid;
    padding: 0;
    justify-content: center;

    margin: 0%;
    @media screen and (max-width: 575.2px){
       height: 100%;
    }

    &__Nav{
        z-index: 1;
    }

    &__progressbar {
        position: absolute;

        top: 289px;
        left: -35px;
        width: 250px;
        height: 20px;
        @media screen and (max-width: 575.2px){
            display: none !important;
        }
    }

    &__titulo{
        color: $light-color;
        font-size: 12px;
        padding-left: 5px;
        text-align: center;
        display:inline;
        @media screen and (max-width: 575.2px){
            
        }
    }
    &__progress{
        background-color: $primary-color !important;
        border-radius: 0px !important;
        border: 0px !important;
        color: white !important ;
        display: grid !important;
        width: auto !important;
        height: 100% !important;
        text-align:  left !important;
        cursor: default !important;

    }
}
.displayNone {
    display: none;
}


div.content{
    margin-left: 200px;
    padding: 0;
    height: 1000px;
    
}


.sideBarList{
    height: 180%;
    padding: 0;
    
    margin: 0%;
}

.contractIcon ,.expandIcon{
    display: none;
    @media screen and (max-width: 575.2px){
        display: inline;
    }
}

.dataRow {
    text-decoration: auto;
    display: flex;
    align-items: center;

    @media screen and (max-width: 575.2px){
            display: none;
    }
    &:hover {
        background-color: $primary-color-hover;
    }
}

.dataRow.current.dataRow.active *{
    i {
        background-color: $warning-color;
    }
}


.dataRow a:link{
    text-decoration: none;
}


.dataRow.active *{  
    i {
        background-color: $success-color;
    }
}

.dataRow a:hover *{
    color : $primary-color-hover;
}

.progress:focus{
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border: 0px !important;
    @media screen and (max-width: 575.2px){
        cursor: not-allowed !important;
    }
}


.footer{
    display: flex !important;
}
// .btn-secondary{
//     justify-content: center !important;
//     justify-self: center !important;
//     margin: 0 auto !important;
//     display: flex !important;
//     @media screen and (max-width: 575.2px){
//         display: none !important;
//     }
// }



.texto, .icono  {
    color: $light-color !important;
    //font-size: 12px;
    text-align: left;
    display:inline;
    //padding-left: 5px !important;
    @media screen and (max-width: 575.2px){
        display: none;
    }
    
    i {
        color : $primary-color;
        font-size: 2em;
        padding: 2px;
        display: flex;
        border-radius: 50%;
        background-color: white;
    }
}




