@import '../../scss/index.scss';

.administrativeNavbar {
    height: 100%;
    width: 100%;
    background: $primary-color;
    display: grid;
    padding: 0;
    justify-content: center;

    margin: 0%;
    @media screen and (max-width: 575.2px){
       height: 100%;
    }

    &__sidebarList {
        height: 180%;
        padding: 0;
        margin: 0%;

        & .selected {
            background-color: $light-color !important;
            color: $primary-color !important;
        }

        &-dataRow {
            text-decoration: auto;
            padding: 0.7em;
            margin-bottom: 1.15em;
            display: flex;
            align-items: center;
            color: $light-color;
            font-weight: 500;
            border-radius: 5px;
        
            &:hover {
                background-color: $light-color;
                color: $primary-color;
            }

        }
    }
}

